@using TravelTrip.Models.Siniflar
@model PagedList.IPagedList<Iletisim>
    @using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "AdminIletisim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="work-section section" id="section-4">
    <div class="container">
        <h2>Blog</h2>
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>İsim</th>
                <th>Soyisim</th>
                <th>Mesaj</th>
                <th>SİL</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Message</td>
                    <td><a href="/Contact/DeleteContact/@item.ID" class="btn btn-danger">Sil</a></td>
                </tr>
            }
        </table>
        @Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index" , "Admin",new {sayfa}))
    </div>
</section>